data
test/spago-test
.stack-work/
*~
**/__pycache__
templates/docs-search-app*
templates/purescript-docs-search*
.envrc
curator.log
.DS_Store
stack.yaml.lock
!npm/.npmrc
**/.vscode
.psc*
dist-newstyle