name: release

on:
  push:
    tags:
      - '*'

jobs:
  build-and-publish:
    name: Build and publish to npm
    runs-on: ubuntu-latest
    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'

      - name: Cache NPM dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package.json') }}

      - name: Install global NPM packages
        run: npm i --global purescript@0.15.15 spago@next purs-tidy@latest esbuild@latest

      - name: Cache PureScript dependencies
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-spago-${{ hashFiles('**/spago.yaml') }}
          path: |
            .spago
            output

      - name: Install NPM dependencies
        run: npm ci

      - name: Install PureScript dependencies
        run: spago install

      - name: Build project
        run: spago build

      - name: Bundle executables
        run: |
          node ./bin/index.dev.js bundle -p spago-bin
          node ./bin/bundle.js bundle -p docs-search-client-halogen

      - name: Run tests
        run: node --no-warnings=ExperimentalWarning ./bin/bundle.js test

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
          body: |
            See [CHANGELOG.md](https://github.com/purescript/spago/blob/master/CHANGELOG.md) for details.
          draft: false
          prerelease: false

      - name: Publish to npm
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
